body{
    color: blueviolet;
    text-align: center;
    font-family: "Arial";  
}

td{
    border: 3px solid skyblue;
    margin: 0 auto;
}

header{
    width: 100%;
}

table{
    width: 100%;
}

tr{
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
}